header {
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .dsc-header-client {
    background-color: var(--dsc-color-bg-secondary);
    color: var(--dsc-color-font-primary);
  }
  
  
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav h1 {
    font-size: 16px;
  }
  
  nav a {
    font-size: 14px;
  }
  
  .dsc-navbar-right {
    display: flex;
    align-items: center;
  }
  
  .dsc-menu-items-container {
    display: flex;
  }
  
  .dsc-menu-items-container img {
    width: 20px;
    height: 20px;
  }
  
  .dsc-menu-item {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }
  
  .dsc-menu-item p {
    display: none;
    margin-left: 5px;
    font-size: 14px;
  }
  
  .dsc-menu-item-active {
    font-weight: 700;
  }
  
  .dsc-logged-user {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .dsc-logged-user span {
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .dsc-logged-user p {
    font-size: 12px;
  }
  
  .dsc-navbar-right a {
    font-weight: 700;
  }
  
  @media (min-width: 576px) {
    nav h1 {
      font-size: 24px;
    }
  
    .dsc-menu-item p {
      display: unset;
    }
  }