@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --dsc-color-bg-primary: #e8e8e8;
  --dsc-color-bg-secondary: #ffe500;
  --dsc-color-bg-tertiary: #636363;
  --dsc-color-bg-quaternary: #0caf1d;

  --dsc-color-card-bg: #fff;
  --dsc-color-card-border: #d9d9d9;

  --dsc-color-btn-primary: #3483fa;
  --dsc-color-btn-inverse: #fff;

  --dsc-color-font-primary: #636363;
  --dsc-color-font-secondary: #0caf1d;
  --dsc-color-font-tertiary: #fff;
  --dsc-color-font-placeholder: #d9d9d9;

  --dsc-color-error: #f33;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

html,
body {
  background-color: var(--dsc-color-bg-primary);
}

main {
  padding: 0 20px;
}

.dsc-container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.dsc-mb20 {
  margin-bottom: 20px;
}

.dsc-mt20 {
  margin-top: 20px;
}

.dsc-section-title {
  text-align: center;
  color: var(--dsc-color-font-primary);
  font-size: 16px;
}

.dsc-txt-left {
  text-align: left;
}
#catalog-section {
  padding: 20px 0;
}


@media (min-width: 576px) {
  .dsc-section-title {
    text-align: left;
    font-size: 24px;
  }
}

.dsc-card {
  border: 1px solid var(--dsc-color-card-border);
  border-radius: 4px;
  background-color: var(--dsc-color-card-bg);
}

.dsc-line-bottom {
  border-bottom: 1px solid var(--dsc-color-card-border);
}

.dsc-btn-page-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
}

@media (min-width: 576px) {
  .dsc-btn-page-container {
    width: 220px;
  }
}
